# Imports and Paths

In [2]:
import numpy as np
import pandas as pd

# Display tools

## Pandas tables to markdown

In [7]:
ray = np.random.randint(1,20,(10,5))
cols = ['lion','tiger', 'bears', 'dogs','cats']
df = pd.DataFrame(ray,columns = cols)
df

   lion  tiger  bears  dogs  cats
0     8      9      3    13     1
1     7     10     16    17     9
2    15     10     10     7     9
3     2      9     11    16     1
4     3     19      8    11     9
5    18      3     17    15    11
6    14     14     16    15    17
7     9     10      9     6    12
8     1     16     12     4    16
9     1     13      3     4    13

In [8]:
from tabulate import tabulate
print(tabulate(df, headers=df.columns,tablefmt="pipe"))

|    |   lion |   tiger |   bears |   dogs |   cats |
|---:|-------:|--------:|--------:|-------:|-------:|
|  0 |      8 |       9 |       3 |     13 |      1 |
|  1 |      7 |      10 |      16 |     17 |      9 |
|  2 |     15 |      10 |      10 |      7 |      9 |
|  3 |      2 |       9 |      11 |     16 |      1 |
|  4 |      3 |      19 |       8 |     11 |      9 |
|  5 |     18 |       3 |      17 |     15 |     11 |
|  6 |     14 |      14 |      16 |     15 |     17 |
|  7 |      9 |      10 |       9 |      6 |     12 |
|  8 |      1 |      16 |      12 |      4 |     16 |
|  9 |      1 |      13 |       3 |      4 |     13 |

Here is the same dataframe, but now in a markdown cell

|    |   lion |   tiger |   bears |   dogs |   cats |
|---:|-------:|--------:|--------:|-------:|-------:|
|  0 |      8 |       9 |       3 |     13 |      1 |
|  1 |      7 |      10 |      16 |     17 |      9 |
|  2 |     15 |      10 |      10 |      7 |      9 |
|  3 |      2 |       9 |      11 |     16 |      1 |
|  4 |      3 |      19 |       8 |     11 |      9 |
|  5 |     18 |       3 |      17 |     15 |     11 |
|  6 |     14 |      14 |      16 |     15 |     17 |
|  7 |      9 |      10 |       9 |      6 |     12 |
|  8 |      1 |      16 |      12 |      4 |     16 |
|  9 |      1 |      13 |       3 |      4 |     13 |

## Next tool

# Next category